@model WebProjectCS.Models.BlogItem
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
}
@{var UPriv = Html.ViewContext.HttpContext.Session.GetInt32("UserPriv");}
@{var UName = Html.ViewContext.HttpContext.Session.GetString("UserName");}
@{var UserID = Html.ViewContext.HttpContext.Session.GetInt32("UserID");}

<h2>Create New BlogMassage</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <input type="hidden" asp-for="ConvID" class="form-control " value="@ViewData["ConvID"]" />
                <span asp-validation-for="ConvID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UID" class="form-control" value=@UserID />
                <span asp-validation-for="UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group text-box">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" size="5">
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="RelatedID" class="form-control" value=-1 />
                <span asp-validation-for="RelatedID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>




<div>
    <a asp-controller="ConvBlogItems" asp-action="Conversation" asp-route-id=@ViewData["ConvID"]>Back to List</a>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("ok");
        });
    </script>
}
